@tailwind base;
@tailwind components;
@tailwind utilities;

.img-d {
  background-image: url(../images/image-header-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}
.img-m {
  background-image: url(../images/image-header-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}
